<div class="container py-4">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <h2>Listado de Personajes</h2>
            </div>
            
        </div>
        <div class="card-body">
            <dx-button
                text="Cargar"
                tylingMode="outlined"
                icon="pulldown"
                type="success"
                (onClick)="Load()">
            </dx-button>

            <dx-button
                style="margin-left: 10px;"
                text="Ver"
                type="info"
                (onClick)="Ver()">
            </dx-button>
        </div>
    </div>
</div>

<section id="grid">
    <div class="container">
        <dx-data-grid id="app-container"
        [dataSource]="personajes"
        keyExpr="EmployeeID"
        [allowColumnReordering]="true"
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        >
            (onSelectionChanged)="selectEmployee($event)">

            <dxi-column dataField="FullName" [fixed]="true">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="Position"></dxi-column>
            <dxi-column
                dataField="BirthDate"
                dataType="date"
                [width]="100">
            </dxi-column>
            <dxi-column
                dataField="HireDate"
                dataType="date"
                [width]="100">
            </dxi-column>
            <dxi-column dataField="City"></dxi-column>
            <dxi-column dataField="Country" sortOrder="asc"></dxi-column>
            <dxi-column dataField="Address"></dxi-column>
            <dxi-column dataField="HomePhone"></dxi-column>
            <dxi-column dataField="PostalCode" [visible]="false"></dxi-column>

            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <!-- <dxo-group-panel [visible]="true"></dxo-group-panel> -->
            <dxo-editing
                mode="popup"
                [allowUpdating]="true"
                [allowDeleting]="true"
                [allowAdding]="true">
            </dxo-editing>
            <dxo-selection mode="single"></dxo-selection>
            <dxo-summary>
                <dxi-group-item
                    summaryType="count">
                </dxi-group-item>
            </dxo-summary>
            <dxo-grouping [autoExpandAll]="expanded"></dxo-grouping>
            <dxo-toolbar>
                <dxi-item name="groupPanel"></dxi-item>
                <dxi-item location="after">
                    <dx-button
                        [text]="expanded ? 'Collapse All' : 'Expand All'"
                        [width]="136"
                        (onClick)="expanded = !expanded">
                    </dx-button>
                </dxi-item>
                <dxi-item name="addRowButton" showText="always"></dxi-item>
                <dxi-item name="exportButton"></dxi-item>
                <dxi-item name="columnChooserButton"></dxi-item>
                <dxi-item name="searchPanel"></dxi-item>
            </dxo-toolbar>
            <dxo-master-detail
                [enabled]="true"
                [template]="'employee-info'">
            </dxo-master-detail>
            <div *dxTemplate="let employee of 'employee-info'">
                <img class="employee-photo" [src]="employee.data.Photo">
                <p class="employee-notes">{{ employee.data.Notes }}</p>
            </div>
            <!-- (onExporting)="exportGrid($event)"> -->
            <!-- ... -->
            <!-- <dxo-export 
                [enabled]="true"
                [formats]="['xlsx', 'pdf']"
            >
            </dxo-export> -->
        </dx-data-grid>
    </div>
</section>

