#dataGrid {
    height: 500px;
}

/* ... */
/* #app-container {
    width: 900px;
    position: relative;
} */

.employee-photo {
    height: 140px;
    float: left;
    padding: 0 20px 20px 0;
}
 
.employee-notes {
    text-align: justify;
    white-space: normal;
}